body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: underline;
}

table {
  border-collapse: collapse;
}

th,
td {
  border: solid 1px #333;
}

h2 {
  /* margin: auto; */
  text-align: center;
}

.searchForm {
  margin: 2rem auto;
}

.searchForm input {
  padding: 0.5rem;
}

.searchBtn {
  background-color: #9cf;
  color: white;
  padding: 0.5rem;
  border-radius: 0.2rem;
  margin-left: 1rem;
}
